{% extends 'index.html' %} {% block title %}Home{% endblock title %} 
{% block body %}
<!-- cards -->

<div class="container-fluid px-0 mb-3">
  <img
    src="https://source.unsplash.com/1200x400/?phone,contact"
    class="d-block w-100 mx-0"
    alt="..."
  />
</div>
<div class="container mt-2">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for student in posts %}
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title"><b>{{ student.title }}</b></h5>
          <p class="card-text">{{ student.body | safe }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}
